<li class="message">
	<div class="col-md-12">
		<p class="col-md-10 name"><%= message.sender_name %></p>
		<p class="col-md-2 time"><%= time_ago_in_words(message.created_at) %></p>
		<p class="col-md-12 content"><%= message.message %></p>
	</div>
</li>